# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env

# Data and model files
data/combined_notes.txt
model/
*.pt
*.bin
*.h5
*.ckpt

# Gradio cache
gradio_cached_examples/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/